In [27]:
import pandas as pd
import numpy as np
d = {'num_legs': [4, 4, 2, 2],

     'num_wings': [0, 0, 2, 2],

     'class': ['mammal', 'mammal', 'mammal', 'bird'],

     'animal': ['cat', 'dog', 'bat', 'penguin'],

     'locomotion': ['walks', 'walks', 'flies', 'walks']
    }

In [28]:
df = pd.DataFrame(data=d)
df

   num_legs  num_wings   class   animal locomotion
0         4          0  mammal      cat      walks
1         4          0  mammal      dog      walks
2         2          2  mammal      bat      flies
3         2          2    bird  penguin      walks

In [29]:
df = df.set_index(['class', 'animal', 'locomotion'])
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [30]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [32]:
df.xs("mammal")

                   num_legs  num_wings
animal locomotion
cat    walks              4          0
dog    walks              4          0
bat    flies              2          2

In [47]:
df.xs("dog",level=1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [49]:
df.xs(('bird', 'walks'),

      level=[0, 'locomotion'])

         num_legs  num_wings
animal
penguin         2          2

In [56]:
df.xs(('bird', 'walks'),

      level=["class","locomotion"])

         num_legs  num_wings
animal
penguin         2          2

In [58]:
df.xs(('bird', 'walks'),

      level=[0,"locomotion"])

         num_legs  num_wings
animal
penguin         2          2

In [63]:
df.xs(('bird', 'penguin'),

      level=["class",1])

            num_legs  num_wings
locomotion
walks              2          2

In [71]:
df.xs(('bird','walks'),level=[0,2])

         num_legs  num_wings
animal
penguin         2          2

In [69]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2